Exerc√≠cio | Tratar os dados de 'dados.csv'

In [3]:
import pandas as pd
import seaborn as srn

In [4]:
base = pd.read_csv('dados.csv', sep = ';')
base.head()
#base

   CODIGO               MUNICIPIO       PIB  VALOREMPENHO
0     106   SANTANA DO LIVRAMENTO  12240.76    1088666.10
1     113            SANTO ANGELO  16575.82     800669.92
2     118  SAO FRANCISCO DE ASSIS  12037.61     466122.80
3      13         CACAPAVA DO SUL  13674.54     485535.86
4     120             SAO GABRIEL  19912.38     533719.86

In [5]:
base.shape

(187, 4)

In [7]:
agrupado = base.groupby(['CODIGO']).size()
agrupado

CODIGO
1      1
7      1
9      1
13     1
14     1
      ..
486    1
487    1
490    1
491    1
496    1
Length: 172, dtype: int64

In [8]:
base.isnull().sum()

CODIGO          0
MUNICIPIO       0
PIB             0
VALOREMPENHO    0
dtype: int64

In [5]:
base['PIB'].describe()

count       187.000000
mean      19808.741337
std       16984.223244
min        8236.630000
25%       13621.455000
50%       17206.190000
75%       21429.165000
max      223848.220000
Name: PIB, dtype: float64