Exercício | Tratar os dados de 'tempo.csv'

Aparência: sol, nublado, chuva
Temperatura: -130 ~130F
Umidade: 0 ~100
Jogar: sim/não

Tratar valores NAs

In [2]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [3]:
df = pd.read_csv("tempo.csv", sep = ";")

df.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

Tratando valores NAs

In [4]:
df.shape

(14, 5)

In [23]:
agrupado = df.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [9]:
df.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [12]:
# Sem parenteses a função não é evocada, apenas describe a coluna referenciada.
# Essa forma pode ser usada para saber qual a linha que está com valor nulo, porém num data frame muito grande, talvez não seja viável.

df['Umidade'].describe

<bound method NDFrame.describe of 0      85.0
1      90.0
2      86.0
3       NaN
4      80.0
5      70.0
6      65.0
7      95.0
8      70.0
9     200.0
10     70.0
11     90.0
12     75.0
13     91.0
Name: Umidade, dtype: float64>

In [13]:
df['Umidade'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [24]:
df.loc[df['Aparencia'] == 'menos', 'Aparencia'] = 'sol'

agrupado = df.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [4]:
df['Umidade'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [5]:
mediana = sts.median(df['Umidade'])
mediana

85.5

In [6]:
df['Umidade'] = df['Umidade'].fillna(mediana)

In [7]:
df.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          1
Jogar          0
dtype: int64

In [13]:
'''
Estatística	Valor	Explicação

*count	13	Indica o número total de valores não nulos (registros completos) na 
coluna 'Vento'. O DataFrame possui 13 observações válidas nesta coluna.

*unique	2	Mostra o número de valores distintos (categorias ou níveis) que existem na 
coluna 'Vento'. Neste caso, existem apenas 2 valores únicos (que presumivelmente são 
'FALSO' e o outro valor, talvez 'VERDADEIRO', 'SIM', ou 'NÃO').

*top	FALSO	É o valor mais frequente ou a moda da coluna. 'FALSO' é a categoria que 
aparece o maior número de vezes no conjunto de dados.

*freq	7	É a frequência (contagem de ocorrências) do valor top ('FALSO'). Isso significa que o valor 'FALSO' aparece 7 vezes nas 13 observações da coluna.
Name	Vento	O nome da coluna a que este resumo se refere.

*dtype	object	O tipo de dados da coluna. object em Pandas geralmente significa 
strings (texto) ou outros tipos de dados não numéricos/categóricos.'''

df['Vento'].describe()

count        13
unique        2
top       FALSO
freq          7
Name: Vento, dtype: object

In [16]:
agrupado = df.groupby(['Vento']).size()
agrupado

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [17]:
df['Vento'] = df['Vento'].fillna('FALSO')

In [19]:
df.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

Verificando Padronização

Verificando na coluna 'Aparencia'

In [25]:
agrupado = df.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

Verificando na coluna 'Temperatura' (-130 ~130F)

In [28]:
df['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [29]:
df['Temperatura'].describe

<bound method NDFrame.describe of 0       85
1       80
2       83
3       70
4       68
5       65
6       64
7     1220
8       69
9       75
10      75
11      72
12      81
13      71
Name: Temperatura, dtype: int64>

In [30]:
df.loc[(df['Temperatura'] < -130) | (df['Temperatura'] > 130), 'Temperatura']

7    1220
Name: Temperatura, dtype: int64

In [31]:
mediana = sts.median(df['Temperatura'])
mediana

73.5

In [33]:
df.loc[(df['Temperatura'] < -130) | (df['Temperatura'] > 130), 'Temperatura'] = int(mediana)
df['Temperatura'].describe

<bound method NDFrame.describe of 0     85.0
1     80.0
2     83.0
3     70.0
4     68.0
5     65.0
6     64.0
7     73.5
8     69.0
9     75.0
10    75.0
11    72.0
12    81.0
13    71.0
Name: Temperatura, dtype: float64>

In [34]:
df.loc[(df['Temperatura'] < -130) | (df['Temperatura'] > 130), 'Temperatura']

Series([], Name: Temperatura, dtype: float64)

Verificando na coluna 'Umidade' (0 ~100)

In [35]:
df['Umidade'].describe()

count     14.000000
mean      89.464286
std       33.204763
min       65.000000
25%       71.250000
50%       85.250000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [36]:
# .loc[linha, coluna] 

df.loc[(df['Umidade'] < 0) | (df['Umidade'] > 100), 'Umidade']

9    200.0
Name: Umidade, dtype: float64

In [37]:
mediana = sts.median(df['Umidade'])
mediana

85.25

In [38]:
df.loc[(df['Umidade'] < 0) | (df['Umidade'] > 100), 'Umidade'] = mediana

In [40]:
df['Umidade'].describe

<bound method NDFrame.describe of 0     85.00
1     90.00
2     86.00
3     85.50
4     80.00
5     70.00
6     65.00
7     95.00
8     70.00
9     85.25
10    70.00
11    90.00
12    75.00
13    91.00
Name: Umidade, dtype: float64>

Verificando na coluna 'Jogar' sim/não

In [41]:
agrupado = df.groupby(['Jogar']).size()
agrupado

Jogar
nao    5
sim    9
dtype: int64

In [42]:
df['Jogar'].describe

<bound method NDFrame.describe of 0     nao
1     nao
2     sim
3     sim
4     sim
5     nao
6     sim
7     nao
8     sim
9     sim
10    sim
11    sim
12    sim
13    nao
Name: Jogar, dtype: object>